<header id="header" ng-show="mobile==true">
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <h2>ଲାଇଭ୍ ଓଡ଼ିଆ</h2>
                    </a>
                </li>
                <li><a href="home" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a></li>
                <li><a href="about">ଆମ ବିଷୟରେ</a></li>
                <li><a href="#">ଯୋଗାଯୋଗ</a></li>
                <li><a href="#">ବିଜ୍ଞାପନ</a></li>
                <li class="btn-nav"><h2 >ଅନ୍ୟାନ୍ୟ ଖବର</h2></li>
                <li class="odia-font"  ng-repeat="hnews in hotNews">
                    <figcaption><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></figcaption>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
			 <a href="#">
                <h2>ଲାଇଭ୍ ଓଡ଼ିଆ</h2>
            </a>
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</header>

<div id="mobile" class="container">
	 <h2 class="featured_title header-font">ମୂଖ୍ୟ ଖବର</h2>
     <!--<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="featured_slider">
               <h2 class="featured_title header-font"> ନିଶ୍ଚୟ ପଢନ୍ତୁ</h2>
                <div class="slick_slider" ng-repeat="inews in impnews | orderBy : '-inid' | limitTo : 8">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 box trimLR scrollbar" id="style-3">
                        <div ng-show="inews.iimage!='Default'" ng-click="GetImpNewsById(inews.inid,inews.rid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR force-overflow" ng-click="GetImpNewsById(inews.inid)">
                                <div class="media">
                                    <a class="media-left" ng-click="GetImpNewsById(inews.inid,inews.rid)"><img alt="" ng-src="../UploadedImage/{{inews.iimage}}" width="125" height="115" data-pin-nopin="true"></a>
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid,inews.rid)">
                                            <b class="impnewsfont">{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="impnews-font">{{inews.impnews | limitTo:letterLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="inews.iimage=='Default'" ng-click="GetImpNewsById(inews.inid,inews.rid)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left trimLR">
                                <div class="media">
                                    <div class="media-body">
                                        <a class="catg_title" ng-click="GetImpNewsById(inews.inid,inews.rid)">
                                            <b class="impnewsfont">{{inews.ititle}}</b>
                                        </a>
                                        <br /><br />
                                        <p class="impnews-font">{{inews.impnews | limitTo:letterLimit}} <strong>. . .</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>-->
  <div class="row">
        <div class="col-lg-12">
            <ul class="ppost_nav wow fadeInDown">
                <li class="mppost_nav" ng-repeat="inews in vvnews  |  orderBy :'priority' | limitTo : 6">
                    <div class="mmedia" ng-click="GetImpNewsById(inews.inid,inews.rid)">
                        <a class="mmedia-left" href="#">
                            <img class="impnews-box" ng-show="inews.iimage!='Default'" ng-click="GetImpNewsById(inews.inid,inews.rid)" ng-src="../UploadedImage/{{inews.iimage}}" data-pin-nopin="true" alt="...">
                        </a>
                        <h5 class="mobile-impnewsfont">{{inews.ititle}}</h5>
                        <div class="media-body">
                            <a href="#" ng-click="GetImpNewsById(news.tnid,inews.rid)">
                                <p class="mimpnews-heading" ng-show='inews.isub!=null' style="color:{{inews.mycolor}}">{{inews.isub}}</p>
								<p class="impnews-font" ng-show='inews.isub==null'>{{inews.impnews | limitTo: 60}} <strong>. . .</strong></p>
                            </a>
                        </div>
                    </div>
					<i id="more" class="fa fa-angle-down pull-right f-class" ng-click="clicked($event)" ng-show='inews.isub!=null'></i>
                    <div id="panel">
                        <p class="impnews-font">{{inews.impnews | limitTo: 150 }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8" id="middle_content">
            <div class="middle_content" ng-show="ipnews!=false">
                <h2 class="header-font">ସମ୍ପୂର୍ଣ୍ଣ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="imnews[0].iimage!='Default'">
							<h2 class="article_titile">
                                {{imnews[0].ititle}}
                            </h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{imnews[0].iimage}}" alt=""></a></figure>
                            
							
                            <div class="post_commentbox"><a href="#"></a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
							<h4 class="impnews-heading" ng-show="imnews[0].isub!=null">{{imnews[0].isub}}</h4>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
                        <div ng-show="imnews[0].iimage=='Default'">
                            <h2 class="article_titile1">
                                {{imnews[0].ititle}}
                            </h2>
							
                            <div class="post_commentbox"><a href="#"></a> <span><i class="fa fa-calendar"></i>{{imnews[0].newsdate}}</span> <a href="#"></a></div>
							<h4 class="impnews-heading" ng-show="imnews[0].isub!=null">{{imnews[0].isub}}</h4>
                            <p class="odia-font">{{imnews[0].impnews}}</p>
                        </div>
						<a href="home" class="btn default-btn" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a>
                    </li>
                </ul>
            </div>
			
			  <div class="middle_content" ng-show="hnewsdetail!=false">
                <h2>ଅନ୍ୟାନ୍ୟ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="hnewsDetail[0].himage!='Default'">
                            <h2 class="article_titile">
                                {{hnewsDetail[0].htitle}}
                            </h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{hnewsDetail[0].himage}}" alt=""></a></figure>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
							<h4 class="newstory-heading" ng-show="hnewsDetail[0].hsub!=null" style="color:{{hnewsDetail[0].mycolor}}">{{hnewsDetail[0].hsub}}</h4>
                            <p class="odia-font">{{hnewsDetail[0].hotnews}}</p>
                        </div>
                        <div ng-show="hnewsDetail[0].himage=='Default'">
                            <h2 class="article_titile1">
                                {{hnewsDetail[0].htitle}}
                            </h2>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{hnewsDetail[0].newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
							<h4 class="newstory-heading" ng-show="hnewsDetail[0].hsub!=null" style="color:{{hnewsDetail[0].mycolor}}">{{hnewsDetail[0].hsub}}</h4>
                            <p class="odia-font">{{hnewsDetail[0].topnews}}</p>
                        </div>
						<a href="home" class="btn default-btn" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a>
                    </li>
                </ul>
            </div>
			<div class="middle_content" ng-show="rfnews!=false">
                <h2 class="header-font">ସମ୍ପୂର୍ଣ୍ଣ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown">
                        <div ng-show="rnewsdata[0].image!='Default'">
                            <h2 class="article_titile"><a class="odia-font">{{rnewsdata[0].title}}</a></h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{rnewsdata[0].image}}" alt=""></a></figure>
                            <h4 class="impnews-heading" ng-show="rnewsdata.sub!=null" style="color:{{CustomStyle}}">{{rnewsdata[0].sub}}</h4>
                            <p class="odia-font">{{rnewsdata[0].fullnews}}</p>
                        </div>
                        <div ng-show="rnewsdata[0].image=='Default'">

                            <h2 class="article_titile1">>{{rnewsdata[0].title}}</h2>
                            <h4 class="impnews-heading" ng-show="rnewsdata[0].sub!=null" style="color:{{CustomStyle}}">{{rnewsdata[0].sub}}</h4>
                            <p class="odia-font">{{rnewsdata[0].fullnews}}</p>
                        </div>
						<a href="home" class="btn default-btn" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a>
                        <button value="Delete" ng-click="DeleteHotNews(news.hnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
            </div>
            <div class="middle_content" ng-show="hnews!=false">
                <h2 class="header-font">ଅନ୍ୟାନ୍ୟ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in hnewsDetail | orderBy :'-hnid'">
                        <div ng-show="news.himage!='Default'">
							
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.himage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h2 class="article_titile"><a ng-click="getHotNewsByID(news.hnid,news.rid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <div ng-show="news.himage=='Default'">
                            <article class="featured_article1">
                                <h2 class="article_titile"><a class="odia-font" ng-click="getHotNewsByID(news.hnid,news.rid)">{{news.htitle}}</a></h2>
                                <h4 ng-show="news.hsub!=null">{{news.hsub}}</h4>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteHotNews(news.hnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="tpnews!=false">
            <h2 class="header-font">ସମ୍ପୂର୍ଣ୍ଣ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in tnews | orderBy :'-tnid'">
                        <div ng-show="news.timage!='Default'">
							 <h2 class="article_titile">{{news.ttitle}}</h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.timage}}" alt=""></a></figure>
                           
                           
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
							 <h4 class="impnews-heading">{{news.tsub}}</h4>
                            <p class="detailnews odia-font">{{news.topnews}}</p>
                        </div>
                        
                        <div ng-show="news.timage=='Default'">
                            <h2 class="article_titile1 odia-font">{{news.ttitle}}</h2>
                            <h4>{{news.tsub}}</h4>
                            <div class="post_commentbox"><a href="#"><i class="fa fa-user"></i> Wpfreeware</a> <span><i class="fa fa-calendar"></i> {{news.newsdate}}</span> <a href="#"><i class="fa fa-tags"></i> Technology</a></div>
                            <p class="detailnews odia-font">{{news.topnews}}</p>
                        </div>
						<a href="home" class="btn default-btn" ng-click="onHomeClick();">ହୋମ ପେଜ୍</a>
                        <button value="Delete" ng-click="DeleteTopNews(news.tnid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
            <div class="middle_content" ng-show="nstory!=false">
               		<h2 class="header-font">ଚର୍ଚ୍ଚିତ ଖବର</h2>
                <ul class="featured_nav">
                    <li class="wow fadeInDown" ng-repeat="news in newstory | orderBy :'-nsid' |  limitTo : 3">
                        <div ng-show="news.nimage!='Default'">
							 <h2 class="mobile-article_titile"><a href="detailnews/ids={{news.nsid}};rid={{news.rid}}">{{news.ntitle}}</a></h2>
                            <figure class="featured_img"><a href="#"><img ng-src="../UploadedImage/{{news.nimage}}" alt=""></a></figure>
                            <article class="featured_article">
                                <h4 class="newstory-heading">{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <div ng-show="news.nimage=='Default'">
                            <article class="featured_article1">
                                <h2 class="mobile-article_titile"><a class="odia-font" href="detailnews/ids={{news.nsid}};rid={{news.rid}}">{{news.ntitle}}</a></h2>
                                <h4>{{news.nsub}}</h4>
                                <p class="odia-font"><strong>{{news.newstory | limitTo:letterLimit}} . . .</strong></p>
                            </article>
                        </div>
                        <button value="Delete" ng-click="DeleteNewsStory(news.nsid)" ng-hide="!authentication.isAuth">Delete</button>
                    </li>
                </ul>
                <pagination ng-model="currentPage" total-items="newsories.length" max-size="maxSize" boundary-links="true">
                </pagination>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="right_sidebar" data-slide-toggle="#demo" data-slide-toggle-duration="2000">
                <div class="single_widget">
                    <h2 class="header-font">ଅଧିକ ଖବର</h2>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in">
                            <ul class="ppost_nav wow fadeInDown collapse" id="demo">
                                <li ng-repeat="news in morenews  |  orderBy :'-inid' | limitTo: 10">
                                    <div class="media">
                                        <a class="media-left" href="#"><img ng-show="news.iimage!='Default'" ng-src="../UploadedImage/{{news.iimage}}" width="100" height="100" alt=""></a>
                                        <div class="media-body"><a class="catg_title" href="#" ng-click="GetImpNewsById(news.inid,news.rid)"><b class="impnewsfont">{{news.ititle}}</b></a></div>
                                        <p>{{news.impnews |limitTo: 55}} <strong>. . .</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--<div class="single_widget">
                <h2>Categories</h2>
                <ul>
                    <li class="cat-item"><a href="#">Technology</a></li>
                    <li class="cat-item"><a href="#">Games</a></li>
                    <li class="cat-item"><a href="#">Business</a></li>
                    <li class="cat-item"><a href="#">Gallery</a></li>
                    <li class="cat-item"><a href="#">Slider</a></li>
                    <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                    <li class="cat-item"><a href="#">Sports</a></li>
                </ul>
            </div>
            <div class="single_widget">
                <h2>Category Archive</h2>
                <select class="catgArchive">
                    <option>Select Category</option>
                    <option>Life styles</option>
                    <option>Sports</option>
                    <option>Technology</option>
                    <option>Treads</option>
                </select>
            </div>-->
            </div>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-4">
            <div class="left_sidebar">
                <div class="single_widget">
                    <h2 class="header-font">ଅନ୍ୟାନ୍ୟ ଖବର</h2>
                    <ul class="post_nav">
                        <li ng-repeat="hnews in hotNews">
                            <!--<a href="pages/single_page.html"><img src="images/270x150x4.jpg" alt=""></a>-->
                            <h2 class="hotnews-summary"><a ng-click="getHotNewsSummary(hnews.ndid)">{{hnews.htitle}}</a></h2>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                                    <ul class="ppost_nav wow fadeInDown">
                                        <li ng-show="hnews.ndid===1" ng-repeat="news in hnewsData1 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p >{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                  
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===2" ng-repeat="news in hnewsData2 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                  
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                            </div>
                                        </li>

                                        <li ng-show="hnews.ndid===3" ng-repeat="news in hnewsData3 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===4" ng-repeat="news in hnewsData4 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===5" ng-repeat="news in hnewsData5 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-show="hnews.ndid===6" ng-repeat="news in hnewsData6 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                  
                                                </div>
                                            </div>
                                        </li>

                                        <li ng-show="hnews.ndid===7" ng-repeat="news in hnewsData7 | orderBy :'-hnid' | limitTo : 4">
                                            <div class="media">
                                                <div ng-show="news.himage!='Default'">
                                                    <div class="media-left" href="#"><img ng-src="../UploadedImage/{{news.himage}}" width="100" height="100" alt=""></div>

                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                                <div ng-show="news.himage=='Default'">
                                                    <div class="media-body">
                                                        <a class="catg_title" href="detailhotnews/ids={{news.hnid}};rid={{news.rid}}">
                                                            <b class="impnewsfont">{{news.htitle}}</b>
                                                        </a>
                                                    </div>
                                                    <!--<h4 ng-show="news.hsub!=null" style="color:{{news.mycolor}}">{{news.hsub}}</h4>-->
                                                    <p>{{news.hotnews |limitTo: 55}}<strong>...</strong></p>
                                                   
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       
    </div>
</div>
